{% extends "layout.html" %}

{% block body %}
<h1>Tervetuloa kasvikantaan!</h1>
<br>
<br>
<p>
  Tämä sivu on tarkoitettu kaikille olennoille, jotka haluavat
  oppia kasveista ja niiden hoidosta tai auttaa toisia samaisten asioiden kanssa.
</p>
<br>
<h4>Kuka tahansa voi:</h4>
<ul>
  <li>Tarkastella kasveja ja niiden hoito-ohjeita</li>
  <li>Rekisteröityä palveluun</li>
</ul>
<br>
<h4>Rekisteröityneet käyttäjät voivat:</h4>
<ul>
  <li>Lisätä uusia kasveja</li>
  <li>Muokata kasvien kuvia ja hoito-ohjeita</li>
  <li>Merkitä kasvit, joita itse omistaa</li>
  <li>Pitää kirjaa kasviensa viimeisimmistä kasteluhetkistä</li>
</ul>
<br />
{% endblock %}