{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <th>Kasvin nimi</th>
    <th>Latinankielinen nimi</th>
  </tr>
  {% for plant in plants %}
  <tr>
    <td><a href="/plants/{{plant.id}}">{{ plant.name }}</a></td>
    <td>{{ plant.latin_name }}</td>
    {% if current_user.is_admin %}
    <td>
      <form method="POST" action="{{url_for('plant_delete', plant_id=plant.id)}}">
        <input type="submit" value="Poista kasvi"/>
    </form>
  </td>
  {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}